
<%- include("partials/header") %> 

<img src="/pred_images/<%= pCropImg  %>.jpeg" alt="#" />
            </div>
          </div>

        <div class="col-lg-6 col-md-12 col-12">
          <div class="header-content">
           
           
           <h1><%= pCropName  %></h1>
            <p><%= pCropInfo  %></p>
            
         
<%- include("partials/footer") %> 